<!-- About -->
<div id="about" class="container-xl py-5">
  <h1 class="mt-2">About.</h1>
  <hr class="mb-4" />
  <div
    class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-baseline"
  >
    <h2><strong>Texas A&amp;M - San Antonio</strong></h2>
    <h3 class="font-urbanist">2017-Current</h3>
  </div>
  <p>
    As a student at TAMU-SA, I've taken courses in C++, Java, and various
    scripting langauages, as well as a course focusing on mobile application
    development using Java. In addition to my studies, I have also been a member
    of my university's Police Explorer club, eventually becoming a leader within
    the chapter, assisting with planning meetings and other various
    administrative duties.
  </p>
  <div
    class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-baseline"
  >
    <h2><strong>Floresville High School</strong></h2>
    <h3 class="font-urbranist">2017</h3>
  </div>
  <p>
    I graduated within the top ten percent from Floresville High School as a
    member of its National Honor Society chapter. While in high school, I was a
    member of the AFJROTC program there, commanding several teams, such as the
    colorguard team where I was able to present the colors before a San Antonio
    Spurs game. My senior year I was bestowed the position of Corps Commander.
    My senior year also saw me participating in my high school's newly-formed
    VEX Robotics team, as well as our CyberPatriot team, where I worked mainly
    with GNU/Linux systems.
  </p>
  <h2><strong>Hobbies and Other Interests</strong></h2>
  <p>
    In addition to my studies, I enjoy coding in my freetime, having worked on
    projects using Python, Java, Flutter, React, and Angular, as well as working
    on my skills as a DJ.
  </p>
  <h2><strong>Job History</strong></h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    <!-- TAMU-SA UPD: Student Worker Card -->
    <div class="col">
      <div class="h-100 card">
        <div class="card-header bg-info text-dark">
          <h5 class="my-1">TAMU-SA University Police Dept.</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">Student Worker</h3>
          <div class="card-text">
            <p>
              While working for TAMU-SA UPD, I carried out the following duties:
            </p>
            <ul>
              <li>Parking enforcement</li>
              <li>General security</li>
              <li>
                Public assistance (car unlocks, battery boosts, tire changes,
                etc.)
              </li>
              <li>Door unlocks</li>
            </ul>
            <p>
              I also assisted the Risk Manager during the summer of 2019 with
              the following:
            </p>
            <ul>
              <li>Inventory of all chemicals in university laboratories</li>
              <li>Inspection of all university laboratories</li>
              <li>Creation of a new online form for lab inspections</li>
              <li>
                Project correspondence for the university's Incident Action Plan
                revision, as well as other miscellaneous projects
              </li>
            </ul>
          </div>
        </div>
        <div class="card-footer bg-dark">9/1/2017 - 1/30/2022</div>
      </div>
    </div>
    <!-- Dollar General: Lead Sales Assoc. Card -->
    <div class="col">
      <div class="h-100 card">
        <div class="card-header bg-info text-dark">
          <h5 class="my-1">Dollar General</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">Lead Sales Associate</h3>
          <div class="card-text">
            <p>
              While working for Dollar General, I carried out the following
              duties / tasks:
            </p>
            <ul>
              <li>General cashier functions</li>
              <li>General stocker functions</li>
              <li>Counting of both my till, as well as other employees'</li>
              <li>
                Counting of the change fund and deposits at the end of the night
              </li>
              <li>Served as a keyholder for the store and the registers</li>
              <li>Closed the store</li>
            </ul>
          </div>
        </div>
        <div class="card-footer bg-dark">6/29/2020 - 7/27/2020</div>
      </div>
    </div>
    <!-- Big State Electric: Apprentice Electrician Card-->
    <div class="col">
      <div class="h-100 card">
        <div class="card-header bg-info text-dark">
          <h5 class="my-1">Big State Electric</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">Apprentice Electrician</h3>
          <p>
            While working for Big State as an apprentice in the IBEW
            Apprenticeship Program, I carried out the following duties / tasks:
          </p>
          <ul>
            <li>Building racks of EMT based off a spec sheet</li>
            <li>Bending tubing for offsets, kicks, and 90s</li>
            <li>
              Teaching other apprentices how to assemble builds based off the
              spec sheet and how to bend the tubing
            </li>
            <li>General pre-fabrication work</li>
          </ul>
        </div>
        <div class="card-footer bg-dark">6/29/2020 - 7/27/2020</div>
      </div>
    </div>
  </div>
</div>
