<!-- Contact -->
<div id="contact" class="container-xl py-5">
  <h1 class="mt-2">Contact.</h1>
  <hr class="mb-4" />
  <div class="d-flex flex-column flex-lg-row">
    <!-- Contact Form -->
    <div class="flex-grow-1 p-5 bg-secondary rounded-2">
      <!-- Please note that there's no functionality associated with this form. -->
      <h2>Reach out to me!</h2>
      <form class="d-flex flex-column" action="/" method="post">
        <!-- First Name -->
        <div class="form-floating mb-4">
          <input
            id="contactFormFirstName"
            name="firstName"
            type="text"
            class="form-control"
            placeholder="Mitch"
            required
          />
          <label for="contactFormFirstName" class="form-label text-dark"
            >First name</label
          >
        </div>
        <!-- First Name -->
        <div class="form-floating mb-4">
          <input
            id="contactFormLastName"
            name="lastName"
            type="text"
            class="form-control"
            placeholder="Taylor"
            required
          />
          <label for="contactFormLastName" class="form-label text-dark"
            >Last name</label
          >
        </div>
        <!-- Email -->
        <div class="form-floating mb-4">
          <input
            id="contactFormEmail"
            name="email"
            type="email"
            class="form-control"
            placeholder="test@joshuaibrom.com"
            required
          />
          <label for="contactFormEmail" class="form-label text-dark"
            >Email address</label
          >
        </div>
        <!-- Phone Number -->
        <div class="form-floating mb-4">
          <input
            id="contactFormPhone"
            name="phoneNumber"
            type="text"
            class="form-control"
            placeholder="(123)456-7890"
          />
          <label for="contactFormPhone" class="form-label text-dark"
            >Phone number</label
          >
        </div>
        <!-- Message -->
        <div class="mb-4">
          <textarea
            id="contactFormText"
            name="message"
            placeholder="Enter your message"
            rows="3"
            class="form-control"
          ></textarea>
        </div>
        <!-- Submit -->
        <% if (!formSubmitted) { %>
        <button type="submit" class="btn btn-info">Submit.</button>
        <% } else { %>
        <h2>Thank you for your submission.</h2>
        <% } %>
      </form>
    </div>
    <!-- Social Links -->
    <div class="flex-grow-1 px-5 py-2 d-flex flex-column">
      <h2>Find me elsewhere.</h2>
      <!-- Social Links -->
      <div class="fs-3 d-flex flex-column">
        <!-- Github -->
        <a
          href="https://github.com/sk3p7ic"
          class="d-flex flex-row align-items-center text-info social-link"
        >
          <i class="fa-brands fa-github"></i>
          <p class="mb-0">@sk3p7ic</p>
        </a>
        <!-- Twitter -->
        <a
          href="https://twitter.com/fizzedmr"
          class="d-flex flex-row align-items-center text-info social-link"
        >
          <i class="fa-brands fa-twitter"></i>
          <p class="mb-0">@FizzedMr</p>
        </a>
        <!-- LinkedIn -->
        <a
          href="https://www.linkedin.com/in/joshua-ibrom"
          class="d-flex flex-row align-items-center text-info social-link"
        >
          <i class="fa-brands fa-linkedin"></i>
          <p class="mb-0">@Joshua-Ibrom</p>
        </a>
      </div>
      <div class="container-fluid flex-grow-1 py-1">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3479.2521232304944!2d-98.5268902839753!3d29.30427916010875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c57620df39603%3A0x6dd54079639010f1!2sTexas%20A%26M%20University-San%20Antonio!5e0!3m2!1sen!2sus!4v1657746786078!5m2!1sen!2sus"
          style="border: 0"
          allowfullscreen="false"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="w-100 h-100 map"
        ></iframe>
      </div>
    </div>
  </div>
</div>
