<!-- Projects -->
<div id="projects" class="container-xl py-5">
  <h1 class="mt-2">Projects.</h1>
  <hr class="mb-4" />
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    <!-- joshuaibrom.com Card -->
    <div class="col">
      <div class="h-100 card">
        <img
          src="img/projects/joshuaibrom.png"
          class="card-img-top"
          alt="Project screenshot"
        />
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">joshuaibrom.com</h3>
          <div class="flex flex-row">
            <span class="badge rounded-pill text-bg-info">React</span>
            <span class="badge rounded-pill text-bg-info">TypeScript</span>
            <span class="badge rounded-pill text-bg-info">Tailwind CSS</span>
          </div>
          <p class="card-text">
            This is my personal website / portfolio. This website has had
            several iterations, ranging from the first that was written almost
            entirely with vanilla HTML, CSS, and JS, as well as another that
            used Bootstrap 4, and another that used Django. You may view these
            previous websites, except for the Django one at
            <a
              href="https://prevsites.joshuaibrom.com"
              target="_blank"
              rel="noopener noreferrer"
              class="text-info text-decoration-none"
              >prevsites.joshuaibrom.com</a
            >.
          </p>
          <a
            class="mt-auto btn btn-secondary"
            href="https://joshuaibrom.com"
            target="_blank"
            rel="noopener noreferrer"
            >View Project</a
          >
        </div>
      </div>
    </div>
    <!-- sk3p7ic.tech Card -->
    <div class="col">
      <div class="h-100 card">
        <img
          src="img/projects/sk3p7ic.png"
          class="card-img-top"
          alt="Project screenshot"
        />
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">sk3p7ic.tech</h3>
          <div class="flex flex-row">
            <span class="badge rounded-pill text-bg-info">React</span>
            <span class="badge rounded-pill text-bg-info">JavaScript</span>
            <span class="badge rounded-pill text-bg-info">Tailwind CSS</span>
          </div>
          <p class="card-text">
            This is my other website with a neubrutalist-styled theme.
          </p>
          <a
            class="mt-auto btn btn-secondary"
            href="https://sk3p7ic.tech"
            target="_blank"
            rel="noopener noreferrer"
            >View Project</a
          >
        </div>
      </div>
    </div>
    <!-- Sorting Visualizer Card -->
    <div class="col">
      <div class="h-100 card">
        <img
          src="img/projects/sorting.png"
          class="card-img-top"
          alt="Project screenshot"
        />
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">sorting visualizer</h3>
          <div class="flex flex-row">
            <span class="badge rounded-pill text-bg-info">Angular</span>
            <span class="badge rounded-pill text-bg-info">TypeScript</span>
            <span class="badge rounded-pill text-bg-info">Sass</span>
          </div>
          <p class="card-text">
            An Angular webapp that allows a user to view the operation of
            several popular sorting algorithms.
          </p>
          <a
            class="mt-auto btn btn-secondary"
            href="http://sorting.sk3p7ic.tech"
            target="_blank"
            rel="noopener noreferrer"
            >View Project</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
